<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="devexpress" value="https://nuget.devexpress.com/LoMHXq9xgtCcz3GQ61IasBq1UqgeLMec4fmOIRj1jRQAaiVeUm/api" />
    </packageSources>
</configuration>
